<!--This template displays the Arknights operator classes and subclasses in a table. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arknight Classes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <table class="table table-hover table-bordered table-striped mt-5">
            <thead>
                <tr>
                  <th scope="col">Class</th>
                  <th scope="col">Subclass</th>
                </tr>
            </thead>
            <tbody>
                {% for class in arknights_class_data['list'] %}
                    <tr>
                        <td>{{class}}</td>
                        <td>{{ arknights_class_data['list'][class] | map('capitalize') | join(", ") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>