<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arknights Ops</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <style>
        .rarity-0 {
            background-color: rgb(159, 159, 159);
        }
        
        .rarity-1 {
            background-color: #dce537;
        }
        
        .rarity-2 {
            background-color: rgb(0, 178, 246);
        }
        
        .rarity-3 {
            background-color: rgb(219, 177, 219);
        }

        .rarity-4 {
            background-color: rgb(255, 174, 0);
        }

        .rarity-5 {
            background-color: rgb(255, 102, 0)
        }
    </style>
</head>
<body>
    <!-- Display metadata here (operator count and last data refresh date)-->
    <div class="container mt-3">
        <div class="row">
            <div class="col text-center">
                <h4>Operator Count: {{ arknights_char_data['operator_count'] }}</h4>
            </div>
            <div class="col text-center">
                <h4>Last refreshed: {{ arknights_char_data['refreshed_date'] }}</h4>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row align-items-center align-content-center flex-wrap">
            <!-- If filter turns out empty-->
            {% if  arknights_char_data['operator_count'] == 0 %}
                <h2>No operators found</h2>
            {% endif %}

            <!-- Display operators list in card format -->
            {% for operator in arknights_char_data['results'] %}
            <div class="card border-dark my-1 mx-auto rarity-{{operator['rarity']}}" style="width:250px">
                <!--Image source also from GitHub-->
                <img class="card-img-top" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/{{operator['id']}}.png" alt="{{operator['id']}}">
                <div class="card-body">
                    <h5 class="card-title">{{ operator['name'] }} ({{operator['rarity'] + 1}}&#11088;)</h5>
                    <p class="m-0">Class: {{ operator['profession'] | capitalize }}</p>
                    <p class="m-0">Subclass: {{ operator['subProfessionId'] | capitalize }}</p>
                    <p class="m-0">Position: {{ operator['position'] | capitalize }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>